<%= form_for [@project, @task], {html: {class: "form-horizontal"}} do |f| %>
<div class = "form-group">
  <div class = "col-sm-offset-2 col-sm-6">
    <%= render "shared/errors", instance: @task %>
  </div>
</div>
<div class="form-group">
  <%= f.label :description , class: "control-label col-sm-2"%>
  <div class="col-sm-6">
    <%= f.text_field :description , class: "form-control"%>
  </div>
</div>
<div class ="form-group">
  <div class="field">
    <%=f.label :due_date , class: "control-label col-sm-2"%>
    <div class="col-sm-6">
      <%= f.date_field :due_date, class: "form-control"%>
    </div>
  </div>
</div>


<% if @task.id? %>
<div class= "complete">
  <%= f.label :complete%>
  <%= f.check_box :complete %>
</div>
<% end %>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-6">
    <div class="actions">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
</div>
<% end %>
