<%= form_for(@task) do |f| %>

<%= render "shared/errors", instance: @task %>

 <div class="form-group">
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_field :description %>

      <div class ="form-group">
        <%=f.label :due_date, "Due Date "%><br>
        <%= f.date_field :due_date %>
      </div>

      <div class= "complete">
        <%= f.label :complete%>
        <%= f.check_box :complete %>
      </div>


  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
</div>
<% end %>
