  <div class= "page-header">
    <div class= "pull-right">
      <%= link_to_if((@ref == "incomplete"), 'All', project_tasks_path(@project, type: "all")) %> |
      <%= link_to_if((@ref == "all"), "Incomplete", project_tasks_path(@project, type: "incomplete")) %>
      <%= link_to 'Create Task', new_project_task_path(@project), class: "btn btn-primary"%>
    </div>
    <h2>Tasks for <%= @project.name %></h2>
  </div>


  <ol class="breadcrumb">
    <li><%= link_to "Projects", projects_path %></li>
    <li><%= link_to @project.name, project_path(@project) %></li>
    <li class="active">Tasks</li>
  </ol>

  <table class="table">
    <thead>
      <tr>
        <th>description</th>
        <th>due date</th>
        <th>complete</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
      <tr>
        <td>
          <%= link_to task.description, project_task_path(@project,task) %>
          <div class="badge">
            <%= task.comments.count %>
          </div>
        </td>
        <td><%= task.due_date.try(:strftime, "%m/%d/%Y")%></td>
        <td><%= task.complete %> </td>
        <td width="30px"><%= link_to 'Edit',edit_project_task_path(@project,task), class: "pull-right btn btn-info" %></td>
        <td>
          <%= link_to project_task_path(@project, task), confirm: 'Are you sure ?', method: :delete do %>
          <i class="glyphicon glyphicon-remove"></i>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
