
<h1><%= @task.description %></h1>
<div class="pull-right">
  <%= link_to 'Edit', edit_project_task_path(@project, @task), class: "btn btn-primary" %>
</div>
<br>
<br>
<ol class="breadcrumb">
  <li><%= link_to "Projects", projects_path %></li>
  <li><%= link_to @project.name, project_path(@project) %></li>
  <li><%= link_to "Tasks", project_tasks_path %></li>
  <li class="active">Show</li>
</ol>



<div class="container"
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Description:</strong>
    <%= @task.description %>
  </p>
  <p>
    <strong>Complete:</strong>
    <%= @task.complete %>
  </p>

  <p>
    <strong>Due Date:</strong>
    <%= @task.due_date.try(:strftime, "%m/%d/%Y") %>
  </p>


  </div>
