<div class ="container">
<div class= "page-header">
  <div class= "pull-right">
  <%= link_to 'Create Users', new_user_path, class: "btn btn-primary" %>
  </div>
<h1> Users </h1>
</div>

<% if notice.is_a? String %>
<div class="text-center alert alert-info"><%= notice %> </div>
<% end %>
    <table class ="table">
<thead>



</thead>
  <tbody>


  <th>Name</th><th>Email</th><th>Edit ?</th><th>Delete ?</th>
  <% @users.each do |user| %>
  <tr>
  <td><%= user.first_name %> <%= user.last_name %></td>
  <td><%= mail_to user.email %></td>
  <td><%= link_to 'Edit', edit_user_path(user) %></td>
  <td><%= link_to 'Delete', user_path(user), method: :delete, data: {confirm: true} %></td>
  <tr>
<% end %>
</table>
</div>
</div>
