<div class="page-header">
  <h1>Specific User</h1>
  <dl class="dl-horizontal">
    <dt><strong>First Name:</strong></dt>
    <dd><%= @user.first_name %></dd>

    <dt><strong>Last Name:</strong></dt>
    <dd><%= @user.last_name %></dd>

    <dt><strong>Email:</strong></dt>
    <dd><%= mail_to @user.email %></dd>

    <dt><strong>Pivotal Tracker Token:</strong></dt>

    <dd>
      <% if @user.pivotal_tracker_token %>
      <%= @user.pivotal_tracker_token[0..3] + "*" * (@user.pivotal_tracker_token.length - 3)%>
      <% end %>
    </dd>
    <dt><strong>Admin:</strong></dt>
    <dd><%= @user.admin %></dd>


  </dl>
</div>
