<div class= "page-header">
  <h1> About </h1>
</div>
<div class="main-content">
  <div class= "col-md-4 image">
    <%= image_tag"meeting.png" %>
  </div>

  <h3> We are dedicated to the makers, the creators, the risk-takers </h3>
</div>
 <div>
   <%= @projects %> Projects, <%= @tasks %>  Tasks,
   <%= @users %>, Users <%= @memberships %> Memberships, <%= @comments %> Comments
 </div>
