<div class="page-header">
</div>
  <div class="well col-md-offset-4 col-md-4">
<h1>Sign In</h1>

<%= form_tag signin_path do |f| %>

  <% if @sign_in_error %>
    <div class="alert alert-danger">
      <%= @sign_in_error %>
    </div>
  <% end %>

    <div>
    <%= label_tag :email %>
  </div>
  <div>
    <%= email_field_tag :email, nil, class: "form-control" %>
  </div>
  <div>
    <%= label_tag :password %>
  </div>
  <div>
    <%= password_field_tag :password, nil, class: "form-control" %>
  </div>
<br>
    <div class="col-md-offset-4 col-sm-4">
        <div class="actions">
          <%= submit_tag "Sign in", class: "btn btn-primary"%>
      </div>
    </div>
  </div>
<% end %>
