<div class="page-header">
<h1>Edit Project</h1>
</div>

<%= render "form" %>
<!-- <%= form_for(@project) do |f| %>


<%= f.label :name %>
<%= f.text_field :name %>

<%= f.submit "Edit Project" %>

<% end %> -->
