<!DOCTYPE html>
<html>
<head>
  <di
    <title>gCamp</title>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
<body>


  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
  <a class="navbar-brand" href="/">gCamp</a>

    <div class="navbar-brand pull-right">

  <% if current_user %>
    <%= link_to "#{current_user.first_name} #{current_user.last_name}", user_path(session[:user_id]) %>|
    <%= link_to "Sign Out", signout_path %>
  <% else %>
    <%= link_to "Sign Up", signup_path %>
    |
    <%= link_to "Sign In", signin_path %>
  <% end %>
</div>
        </div>
  </nav>
  <br>
        <%= yield %>
  <br>
  <footer class="panel container">
<div class="col-md-4">
       <p><%= link_to 'About', about_path %>|
         <%= link_to 'Terms', terms_path %>|
         <%= link_to 'FAQ', faq_path %>|
         <%= link_to 'Task', index_path %>|
         <%= link_to 'Users', users_path %>|
         <%= link_to 'Projects', projects_path %></p>
         &copy; Mega Mac Company
       </div>
        <div class="col-md-offset-8">
            <%= link_to "http://www.linkedin.com/profile/view?id=375932840&trk=nav_responsive_tab_profile" do%>
            <%= image_tag("linked-in.png", width: "20em") %>
             |<% end %>
            <%= link_to "https://twitter.com/BohnMccartney" do%>
            <%= image_tag("Twitter_logo.png", width: "20em") %>
             |<% end %>
            <%= link_to "https://github.com/MacBohn" do%>
            <%= image_tag("git_hub.png", width: "20em") %>
             |<% end %>
            <%= link_to "http://www.galvanize.it/school#main" do%>
            <%= image_tag("gschool.jpeg", width: "30em") %>
             <% end %>
          </div>
      </footer>
    </body>
    </!--/container -->

</html>
